.advanteges{
    display: flex;
}
.advanteges>.item{
    flex-basis: calc((100% - 90px) / 4);
    
    &:not(:last-child){
    margin-right: 30px;
    }
}

.advantege-box{
    @extend %flex-center;

    width: 270px;
    height: 120px;;
    background-color: var(--additional-bcg-color);
}
.advanteges-title{
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--primary-text-color);

    @include font (14px, 700, 1.14);
    text-transform: uppercase;
}
.advanteges-description{
    color: var(--secondary-text-color);
    line-height: 1.71;
}