.advanteges{
    @media (min-width: 768px){
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    }
}

.advanteges>.item{
    &:not(:last-child){
        margin-bottom: 30px;
    }
    
    @media (min-width: 768px){
    max-width: calc((100% - 30px) / 2); 

    &:nth-last-child(-n+2){
        margin-bottom: 0;
        }
    }
    // flex-basis: calc((100% - 90px) / 4);
    // &:not(:last-child){
    // margin-right: 30px;
    // }
}

.advantege-box{
    @extend %flex-center;

    max-width: 450px;
    height: 120px;

    background-color: var(--additional-bcg-color);
}
.advanteges-title{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--primary-text-color);

    @include font (14px, 700, 1.14);
    text-transform: uppercase;
}
.advanteges-description{
    color: var(--secondary-text-color);
    line-height: 1.71;
}