body{
    margin: 0;
    color: var(--primary-text-color);
    background-color: var(--main-bcg-color);
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;
}
.container{
    max-width: 480px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;

 @media (min-width: 768px){
    max-width: 768px;
 }
}

.section{
    padding: 60px 0;
    // padding-top: 94px;
    // padding-bottom: 94px;
}
.section-title{
    margin-bottom: 30px;
    // margin-bottom: 50px;

    @include font (28px, 700, 1.8);
    // @include font (36px, 700, 1.17);

    text-align: center;
}
.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}
button{
    cursor: pointer;
    font-family: inherit;
}
.logo{
    @include font (24px, 700, 1.17);
    font-family: var(--logo-font);

    display: block;
    text-align: center;

    // @include font (26px, 700, 1.19);
    // margin-right: 93px;
    // padding-top: 24px;
    // padding-bottom: 25px;

    &--accent{
            color: var(--accent-color);
    }

    &--light-theme{
        color: var(--black-text-color);
    }

    &--dark-theme{
    margin-right: 0;
    margin-bottom: 20px;
    padding: 0;
    color: var(--white-text-color);
    }
}
