:root{
    --accent-color: #2196F3;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --white-text-color: #FFFFFF;
    --black-text-color: #000000;
    --contacts-text-color: rgba(255, 255, 255, 0.6);
    --main-bcg-color: #FFFFFF;
    --secondary-bcg-color: #2F303A;
    --additional-bcg-color: #F5F4FA;
    --border-color: #ECECEC;
    --portfolio-border: #EEEEEE;
    --btn-active: #188CE8;
    --icon-color: #afb1b8;
    --main-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
}